---
import Container from '@components/Container.astro';
import Link from '@components/Link.astro';
import Logo from './Logo.astro';
---

<header id="header">
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link
        href="/"
        underline={false}
        class="dark:text-[#F0F0F0] text-[#070D0D]"
      >
        <Logo height={40} />
      </Link>
      <nav class="flex gap-1">
        <Link href="/blog"> blog </Link>
        <span>
          {`/`}
        </span>
        <Link href="/work"> work </Link>
      </nav>
    </div>
  </Container>
</header>
